<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.3.1" targetFramework="net451" />
  <package id="jQuery" version="1.11.1" targetFramework="net451" />
  <package id="underscore.js" version="1.7.0" targetFramework="net451" />
  <package id="Underscore.Typescript.Definitions" version="1.0.1" targetFramework="net451" />
  <package id="underscore-string" version="2.3.0" targetFramework="net451" />
</packages>